{% if page.logo.link %}
  <a href="{{ page.logo.link }}" class="no-underline">
{% endif %}
  {% if page.logo.light == true %}
    <img src="{{ 'logo-light.png' | asset_path }}" data-at2x="{{ 'logo-light@2x.png' | asset_path }}" alt="{{ site.title }}" width="{{ page.logo.width | or:'300' }}">
  {% else %}
    <img src="{{ 'logo-dark.png' | asset_path }}" data-at2x="{{ 'logo-dark@2x.png' | asset_path }}" alt="{{ site.title }}" width="{{ page.logo.width | or:'300' }}">
  {% endif %}
{% if page.logo.link %}
  </a>
{% endif %}
