@import "base";

a {
  color: $link-color;
  &:hover { color: lighten($link-color, 20%); }
}

header.page {
  .container { padding-top: 20px; padding-bottom: 20px; }
}
.content {
  section { background-color: $light-gray; margin: 10px 0; }
}
footer.page {
  background-color: $footer_color; color: white;
  a {
    color: white;
    &:hover { color: darken(white, 10%); }
  }
}
