@import "base";

a {
  color: $link-color; border-bottom: 1px dotted rgba(220,220,220,0.5); text-decoration: none;
  &:hover { color: lighten($link-color, 10%); border-bottom: 1px dotted lighten($link-color, 10%); text-decoration: none; }
  &.no-underline {
    border-bottom: 0; text-decoration: none;
    &:hover { border-bottom: 0; text-decoration: none; }
  }
}

nav {
  a { text-transform: uppercase; }
}
header.page {
  .container { padding-top: 20px; padding-bottom: 20px; }
}
.content {
  section {
    padding-bottom: 15px; border: 1px solid $light-gray; border-width: 0 0 1px;
    &:last-child { border-width: 0; }
  }
  h1, h2, h3, h4, h5, h6 { color: $color1; }
}
footer.page {
  background-color: $footer-color; color: white;
  a {
    color: white;
    &:hover { color: darken(white, 10%); }
  }
}
