@import "base";

a {
  color: $link-color;
  &:hover { color: lighten($link-color, 20%); }
}

header.page {
  .container { padding-top: 20px; padding-bottom: 20px; }
}
.content {
  section {
    padding-bottom: 15px; border: 1px solid $light-gray; border-width: 0 0 1px;
    &:last-child { border-width: 0; }
  }
  h1, h2, h3, h4, h5, h6 { color: $color1; }
}
footer.page {
  background-color: $footer-color; color: white;
  a {
    color: white;
    &:hover { color: darken(white, 10%); }
  }
}
